html,
body {
  height: 100%;
  background-image: url('../images/background/Background1.png');
  background-size: cover;
}

.cover-container {
  max-width: 42em;
}

 #header1
 {
   margin-top: 20%;
   color:#18CAE6;
   font-family: 'Orbitron', sans-serif;
   font-size: 70px;
 }
.masthead {
  text-align: center;
}

.masthead-brand {
  margin-bottom: 0;
}

.cover-heading
{
  color: black;
  margin-top: 10px;
}

@media (min-width: 48em) {
  .nav-masthead {
    float: right;
  }
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.mastfoot {
  color: rgba(255, 255, 255, .5);
}

#avaButtons
{
  overflow-y: scroll;
  height: 200px;
}

#setDiv
{
  height: 50px;
  margin: 10px;
}

.inner
{
  margin-left: 35px;
  margin-right: auto;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	border-radius: 0;
	margin: 0;
	padding: 0;
	font-weight: 700;
	display: block;
	width: 90%;
	font-size: 15px;
	vertical-align: middle;
	outline: none !important;
}


.btn-design5 {
	background: none;
	color: #FFCC00 !important;
	transition: all 280ms ease-in-out 0s;
	letter-spacing: 1px;
}
.btn-design5::after, .btn-design5::before {
 border: 1px solid rgba(255, 255, 255, 0);
 bottom: 0;
 content: " ";
 display: block;
 margin: 15px auto;
 position: relative;
 transition: all 280ms ease-in-out 0s;
 width: 0;
 box-shadow: 0px 0px 0px #FFCC00;
}
.btn-design5:hover {
	letter-spacing: 4px;
}
.btn-design5:hover::after, .btn-design5:hover::before {
 border: 1px solid #FFE64D;
 transition: width 350ms ease-in-out 0s;
 width: 100%;
 box-shadow: 0 0 19px 1px #DF740C;
}

#channelPicked
{
  font-weight: bold;
  font-size: 25px;
  color: white;
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}